.leftpane {
    margin-left: 240px;
}
.rightpane {
    margin-left: 240px;
}
.sh_numpad {
    height: 100%;
    width: 240px;
    background-color: #e2e2e2;
}
.orders {
    margin-left: 240px !important;   
}