.leftpane {
    margin-left: 0px;
}
.rightpane {
    margin-left: 160px;
}
.sh_numpad {
    height: 100%;
    width: 160px;
    background-color: #e2e2e2;
    margin-left: 440px;
}
.order-button {
    margin-left: 100px; 
}
